/* Reset some basic elements */
body, h1, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.brand-logo {
    max-width: 100px;
    margin: 0 auto 20px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #004494;
}

#signup-link {
    margin-top: 20px;
}

#signup-link a {
    color: #0056b3;
    text-decoration: none;
    font-size: 0.9rem;
}

#signup-link a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 600px) {
    .login-container {
        width: 90%;
    }
}
